---
import MyElement from "../components/MyElement.astro";
const items = ["Item 1", "Item 2"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Some other route</a>
    <a href="/route">Some other route</a>
    <h1>Some other route</h1>
    <MyElement items={items} />
  </body>
</html>

<script></script>
